/* Employee List */

.admin_employee_list_cards {
    display: flex;
    flex-direction: column;
}

.admin_emp_details_card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 204px;
    height: 136px;
    padding: 16px 12px 12px 30px;
    margin-bottom: 12px;
    border-radius: 11px;
    box-shadow: 3px 3px 9px 0px rgba(190, 190, 190, 0.13);
}

.card1 {
    background-color: #e8f0fb;
}

.card2 {
    background-color: #e4ffe1;
}

.admin_emp_details_card h1 {
    font-family: "";
    font-size: 20px;
    font-family: "Product Sans";
    font-weight: 500;
}

.admin_emp_details_card h2 {
    font-family: "Product Sans";
    font-size: 38px;
    font-weight: 500;
}

.admin_employee_list_hero_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}

.admin_emp_pending_leave_container {
    width: 545px;
    height: 284px;
    flex-shrink: 0;
    background: #ffffff;
    border-radius: 11px;
    box-shadow: 3px 3px 9px 0px rgba(190, 190, 190, 0.13);
}

.admin_emp_upcoming_event_container {
    width: 450px;
    height: 284px;
    flex-shrink: 0;
    background: #ffffff;
    border-radius: 11px;
    box-shadow: 3px 3px 9px 0px rgba(190, 190, 190, 0.13);
}

.admin_emp_list_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: #ffffff;
    width: calc(100% - 30px);
    height: 100px;
    height: 649px;
    margin: 0 0 15px 15px;
    border-radius: 11px;
}

.admin_emp_list_top_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    border-radius: 11px 11px 0 0;
    background-color: #f5f5f5;
}

.admin_emp_list_top_menu_button {
    color: #fff;
    font-family: "Product Sans";
    font-size: 14px;
    font-weight: 500;
    background-color: #533c56;
    border: none;
    border-radius: 5px;
    padding: 8px 11px;
}

.admin_emp_list_top_menu button:hover {
    background-color: #402e43;
}

.admin_emp_list_top_menu h5 {
    color: #464646;
    font-family: "Product Sans";
    font-size: 22px;
    font-weight: 600;
    margin: 0 30px 0 22px;
}

.add_employee_popup_details_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 20px 20px 20px;
    gap: 20px;
    margin: 15px 0 20px 0;
}

.add_emp_address_container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 20px 15px 20px;
}

.add_emp_popup_footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.add_emp_popup_footer_button {
    color: #fff;
    font-family: "Product Sans";
    font-size: 14px;
    font-weight: 500;
    background-color: #533c56;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
}

.add_employee_top_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.avatar-container {
    width: 100px;
    margin-right: 30px;
}

.select-container {
    flex: 1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
