.admin_user_welcome {
    display: flex;
    width: 1144px;
    height: 111px;
    padding: 12px 12px 12px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
    margin: 30px;
}

.admin_user_details_card {
    justify-content: center;
    width: 220px;
    height: 136px;
    padding: 12px 8px 8px 30px;
    margin-bottom: 12px;
    border-radius: 11px;
    box-shadow: 3px 3px 9px 0px rgba(190, 190, 190, 0.13);
}

.card1 {
    background-color: #e8f0fb;
}

.card2 {
    background-color: #e4ffe1;
}

.card3 {
    background-color: #efe1ff;
}

.card4 {
    background-color: #ffe1f5;
}

.card5 {
    background-color: #ffe1e1;
}

.admin_user_details_card h1 {
    font-family: "";
    font-size: 20px;
    font-family: "Product Sans";
    font-weight: 500;
}

.admin_user_details_card h2 {
    font-family: "Product Sans";
    font-size: 38px;
    font-weight: 500;
}

.admin_user_list_cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 15px;
}

.chart_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 30px;
}

.admin_user_chart1 {
    width: 575px;
    height: 345px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #fff;
}

.admin_user_chart2 {
    width: 575px;
    height: 345px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #fff;
}


.admin_user_list{
    margin-left: 30px;
    margin-right: 30px;

}

.add_user_top_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.add_user_popup_details_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 20px 20px 20px;
    gap: 20px;
    margin: 15px 0 20px 0;
}

.add_user_address_container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 20px 15px 20px;
}

.add_user_popup_footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.add_user_popup_footer_button {
    color: #fff;
    font-family: "Product Sans";
    font-size: 14px;
    font-weight: 500;
    background-color: #533c56;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
}

.admin_user_list_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: #ffffff;
    width: calc(100% - 30px);
    margin: 0 0 15px 15px;
    border-radius: 11px;
}


.admin_user_list_top_menu_button {
    color: #fff;
    font-family: "Product Sans";
    font-size: 14px;
    font-weight: 500;
    background-color: #533c56;
    border: none;
    border-radius: 5px;
    padding: 8px 11px;
}

.admin_user_list_top_menu button:hover {
    background-color: #402e43;
}

.admin_user_list_top_menu h5 {
    color: #464646;
    font-family: "Product Sans";
    font-size: 22px;
    font-weight: 600;
    margin: 0 30px 0 22px;
}

.add_user_popup_details_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 20px 20px 20px;
    gap: 20px;
    margin: 15px 0 20px 0;
}

.add_user_address_container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 20px 15px 20px;
}

.add_user_popup_footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.add_user_popup_footer_button {
    color: #fff;
    font-family: "Product Sans";
    font-size: 14px;
    font-weight: 500;
    background-color: #533c56;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
}

.add_user_top_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.add_user_top_container p{
    font-family: "Product Sans";
    font-size: 22px;
    font-weight: 600;
    color: #464646;

}

.avatar-container {
    width: 100px;
    margin-right: 30px;
}

.select-container {
    flex: 1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}


.admin_user_list_top_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    border-radius: 11px 11px 0 0;
    background-color: #f5f5f5;
}


.admin_user_list_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: #ffffff;
    width: calc(100% - 30px);
    margin: 0 0 15px 15px;
    border-radius: 11px;
}

.admin_user_list_top_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    border-radius: 11px 11px 0 0;
    background-color: #f5f5f5;
}

/* Leave Requests */

.admin_leave_request_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 435px;

    background: #ffffff;
    width: calc(100% - 30px);
    margin: 0 0 15px 15px;
    border-radius: 11px;
}

.admin_leave_request_top_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    border-radius: 11px 11px 0 0;
    background-color: #f5f5f5;
}

.admin_leave_request_top_menu h5 {
    color: #464646;
    font-family: "Product Sans";
    font-size: 22px;
    font-weight: 600;
    margin: 0 30px 0 22px;
}


.request_leave_model_body_container{
    padding: 10px 10px;
    margin-bottom: 30px;
}

.leave_request_popup_footer_container{
    display: flex;
    gap: 75px;
    margin-top: 30px;
    
}


.add_user_address_container {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;

    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 10px 20px 15px 20px;
}

