@font-face {
    font-family: "Product Sans";
    font-style: normal;
    src: url(./fonts/Product-Sans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Product Sans Display-Medium";
    font-style: normal;
    src: url(./fonts/Product-Sans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Product Sans Display-Italic";
    font-style: normal;
    src: url(./fonts/Product-Sans-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Product Sans Display-Bold";
    font-style: normal;
    src: url(./fonts/Product-Sans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Product Sans Display-Bold-Italic";
    font-style: normal;
    src: url(./fonts/Product-Sans-Bold-Italic.ttf) format("truetype");
}

:root {
    --main-blue-color: #0866ff;
    --line-color: #ced0d4;
    --background-color: #f0f2f5;
    --red-color: #e41e3f;
    --gray-text-color: #65676b;

    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;

    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
