.colorBtn1 {
    background-color: black !important;
}
.colorBtn2 {
    background-color: brown !important;
}
.colorBtn3 {
    background-color: white !important;
}
.colorText {
    display: block;
    margin: 15px;
}
.itemColorBtn_72 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    padding: 20px 0 20px 0;
}
.colorBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.colorBtn4 {
    background-color: red;
}
.colorBtn5 {
    background-color: #e1e1e3;
}
.colorBtn6 {
    background-color: #b3a695;
}
.sideBar_72 {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 300px;
}
.popUpPackageBigImg_72 {
    width: 525px;
    height: 572px;
    border-radius: 11px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}
.innerBoxBigImg_72 {
    width: 465px;
    height: 527px;
    border-radius: 11px;
    margin: auto;
    margin-top: 30px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.contentBoxBigImg_72 {
    width: 467px;
    height: 527px;
    background: #e6e6e6;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}
.popUpPackageBigImg_72 p {
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px 0 20px;
}
.saveAddressBtn_72 {
    border-radius: 11px;
    background: #533c56;
    width: 244px;
    height: 45px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    color: #fff;
}
.Add_Address_popup_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 0;
    gap: 20px;
}
.Book_Package_container_72 {
    width: 795px;
    height: 610px;
    border-radius: 11px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.Package_includes_view_72 {
    width: 595px;
    border-radius: 11px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}
.cancel_Package_72 {
    border-radius: 11px;
    background: #424866;
    width: 244px;
    height: 45px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #fff;
}

.booking_page_main_container {
    margin-left: 335px;
    min-height: 100vh;
}

.createPackageBtn_72 {
    border-radius: 11px;
    background: #533c56;
    display: flex;
    width: 244px;
    height: 45px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.createBookingBtn_72 {
    border-radius: 11px;
    background: #533c56;
    display: flex;
    width: 380px;
    height: 45px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.createBookingBtn_72:hover {
    background: #3f2d41;
}

.user_booking_page_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
    align-items: center;
    margin: 20px 0;
}

.user_booking_corosal {
    width: calc(100% - 30px);
}

.user_booking_corosal h3 {
    margin-left: 25px;
    color: #000;
    font-family: "Product Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.Carousel_card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    border-radius: 11px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s;
    height: 350px;
}

.Carousel_card_container:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Carousel_card_container_image {
    width: 250px;
    height: 290px;
    border-radius: 11px;
    background-repeat: no-repeat;
    background-size: cover;
}

.Carousel_card_container_description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.Carousel_card_container_description h4 {
    color: #49516f;
    font-family: "Product Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}

.Carousel_card_container_description h6 {
    color: var(#000);
    font-family: "Product Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}

.Carousel_card_container_description p {
    color: #49516f;
    font-family: "Product Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
    margin-top: 15px;
}

.booking_cart_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    background: transparent;
    padding: 5px;
    margin: 10px 30px 10px 30px;
}

.booking_cart_item_container {
    display: flex;
    background-color: white;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 795px;
    border-radius: 11px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 15px;
}

.booking_model_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 980px;
    border-radius: 11px;
    margin: 0 15px 15px 15px;
}

.booking_cart_item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
    height: 240px;
    width: 415px;
    padding-top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.booking_cart_item_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 160px;
    margin-top: 20px;
}

.booking_cart_item_image {
    width: 55.37px;
    height: 74.972px;
}

.booking_cart_item_image img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.booking_cart_item_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 70px;
    gap: 10px;
}

.booking_cart_item_description {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.booking_cart_item_description h5 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 11.939px;
    letter-spacing: 0.995px;
    width: 270px;
}
.booking_cart_item_qty {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
    gap: 10px;
    width: 5px;
}

.booking_cart_item_qty input {
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #b1b1b1;
    padding: 5px;
    margin-bottom: 20px;
}
.booking_cart_billing_address_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    margin-top: 20px;
}
.booking_cart_billing_address {
    margin-top: 10px;
}
.billing_address_hr_tag {
    display: flex;
    width: 700px;
    margin-bottom: 10px;
}
.booking_cart_billing_address h4 {
    color: var(--Gray-900, #161c24);
    font-size: 19.013px;
    font-weight: 700;
}
.add_new_address_Btn_72 {
    border-radius: 11px;
    background: #533c56;
    display: flex;
    width: 180px;
    height: 50px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.add_new_address_Btn_72:hover {
    background: #3f2d41;
}

.add_new_address_Btn_72:disabled {
    background: #bdbdbd;
    border: none;
}

.billing_address_radio_btn1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    border: none;
    margin-bottom: 20px;
}
.billing_address_radio_section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 450px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}
.secondary_address_radio_btn1_txt1 h5 {
    color: var(--Gray-900, #161c24);
    font-size: 19.013px;
    font-weight: 700;
    margin-left: 25px;
}

.billing_address_radio_btn1_txt1 h5 {
    color: var(--Gray-900, #161c24);
    font-size: 19.013px;
    font-weight: 700;
}
.billing_address_radio_btn1_txt2 h5 {
    color: var(--Gray-900, #161c24);
    font-size: 16.636px;
    font-weight: 500;
}
.billing_address_radio_btn1_txt3 h5 {
    color: var(--Gray-600, #637381);
    width: 260.595px;
    font-size: 17.825px;
    font-weight: 400;
    line-height: 28.519px;
}
.billing_address_radio_btn1_txt4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 250.595px;
}
.billing_address_radio_btn1_txt5 h5 {
    color: var(--Gray-600, #637381);
    font-size: 14.26px;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 30px;
}

.booking_cart_item_qty button {
    width: fit-content;
    height: fit-content;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #49516f;
}
.booking_cart_item_container_3 {
    display: flex;
    background-color: white;

    align-items: center;
    flex-direction: row;
    height: 500px;
    width: 795px;
    border-radius: 11px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 15px;
}
.booking_cart_item_2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin: 60px 20px 0 50px;
    height: 280px;
    width: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding: 40px 0 0 0;
}
.payment_confirm_btn_72 {
    border-radius: 11px;
    background: #533c56;
    display: flex;
    width: 280px;
    height: 40px;
    margin-top: 20px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.total_calculate_section {
    margin-left: 30px;
    margin-top: 70px;
}

.total_calculate_section h3 {
    color: #000;
    font-family: "Product Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

.total_calculate_section p {
    color: #000;
    font-family: "Product Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px;
    margin-left: 20px;
}

.card-element-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 320px;
}
