.Emp_DashboardContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.Emp_SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #efefef;

}
.Emp_SideMenu{
    background-color: white;
    height: calc(100vh - 30px);
    width: fit-content;
    margin: 15px 0 15px 15px;
    padding: 100px 0 0 0;
    border-radius: 11px;
}

.Emp_PageContent{
    flex: 1;
    height: 100%;
    overflow-y: auto;
}