.navbar_section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.home_page_category_name_container {
    margin-top: 70px;
    margin-left: 120px;
    margin-bottom: 57px;
    justify-content: left;
}
.home_page_category_name_container h2 {
    color: var(-- Core-black, #000);
    font-family: "Product Sans";
    font-size: 36px;
    font-weight: 700px;
    line-height: normal;
}
.home_page_our_category_section1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 60px;
    justify-content: center;
}
.home_page_category_card1 {
    width: 364px;
    height: 260px;
    background-image: url(https://i.ibb.co/tQmskp4/Group-64.png);
    border-radius: 10px;
}
.home_page_category_card1 h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Product Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 123.5px;
}
.home_page_category_card2 {
    width: 364px;
    height: 260px;
    background-image: url(https://i.ibb.co/S5zVSgY/18.png);
    border-radius: 10px;
}
.home_page_category_card2 h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Product Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 123.5px;
}
.home_page_category_card3 {
    width: 364px;
    height: 260px;
    background-image: url(https://i.ibb.co/F8Ymm2k/Group-65.png);
    border-radius: 10px;
}
.home_page_category_card3 h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Product Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 123.5px;
}
.home_page_category_section2 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 130px;
    justify-content: center;
}
.home_page_category_card4 {
    width: 364px;
    height: 260px;
    background-image: url(https://i.ibb.co/W5ntTJz/Group-105.png);
    border-radius: 10px;
    gap: 18px;
}
.home_page_category_card4 h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Product Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 123.5px;
}
.home_page_category_card5 {
    width: 364px;
    height: 260px;
    background-image: url(https://i.ibb.co/6W51Xqd/Group-108.png);
    border-radius: 10px;
}
.home_page_category_card5 h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Product Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 123.5px;
}
.home_page_category_card6 {
    width: 364px;
    height: 260px;
    background-image: url(https://i.ibb.co/kBQ7m0t/Group-107.png);
    border-radius: 10px;
}
.home_page_category_card6 h3 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Product Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 123.5px;
}
.home_page_square_section_container {
    background-color: #533c56;
    height: 252px;
    width: 1536px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.home_page_image_section1 {
    height: 303px;
    width: 544.668px;
    margin-top: -51px;
    margin-left: 100px;
}
.page_square_text_section {
    display: flex;
    flex-direction: column;
}
.home_page_square_text_section h1 {
    color: var(--Background-Grey, #f8f8fa);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    width: 417px;
    height: 41px;
    margin-top: 43px;
}
.home_page_square_text_section h3 {
    color: var(--Background-Grey, #f8f8fa);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 282px;
    margin-top: 10px;
}
.home_page_square_section_btn {
    margin-top: 30px;
}
.home_page_get_start_btn {
    background-color: #d9d9d9;
    width: 119px;
    height: 51px;
}
.home_page_get_start_btn:hover {
    background-color: #99707e;
}
.home_page_follow_text_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    justify-content: center;
}
.home_page_follow_text_section h1 {
    color: var(--Black, #131315);
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    width: 329.275px;
    margin-bottom: 20px;
    text-align: center;
}
.home_page_follow_text_section h3 {
    color: var(--Black, #131315);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 689px;
    text-align: center;
}
.social_media_icon_section {
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
}
.social_media_icon1 {
    margin-top: 0%;
}
.home_page_trending_package_section {
    display: flex;
    flex-direction: column;
}
.home_page_trending_txt1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.home_page_trending_txt1 h2 {
    color: var(--Core-black, #000);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.home_page_trending_txt1 h3 {
    color: var(--Primary, var(--Core-black, #7848f4));
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.home_page_trending_txt1 h4 {
    color: #533c56;
    font-size: 28.138px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.home_page_tr_pc_container {
    display: flex;
    flex-direction: row;
}
.home_page_ancer_tag_css{
    text-decoration: none;
}
.home_page_package_section_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.home_page_our_blog_card_section{
    display: flex;
    flex-direction: column;
}
.home_page_our_blog_txt1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.home_page_our_blog_txt1 h2{
    color: var(--Core-black, #000);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.home_page_our_blog_txt1 h3{
    color: var(--Primary, var(--Core-black, #7848f4));
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.home_page_our_blog_txt1 h4{
    color: #533c56;
    font-size: 28.138px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.home_page_our_blog_container{
    display: flex;
    flex-direction: row;
}
.home_page_blog_ancer_tag_css{
    text-decoration: none;
}
.home_page_our_blog_section_cards1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.home_page_our_blog_section_cards2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}