.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 150px;
    gap: 6.414px;
    flex-shrink: 0;
}

.btn_signup {
    display: flex;
    height: 35px;
    width: 110px;
    padding: 6px var(--Spacing-space-6, 32px);
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    background: #533c56;
    color: aliceblue;
    margin-top: 10px;
}

.btn_signin {
    display: flex;
    height: 35px;
    width: 110px;
    padding: 6px var(--Spacing-space-6, 32px);
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    margin-top: 10px;
}
.navbar_alogin{
    display: flex;
    justify-content: right;
    gap: 25px;
    align-items: center;
    height: 51px;
    background-color: #fff;
    border-radius: 11px;
    margin: 10px;
    padding: 0 15px;
    }

.home_page_blog_card_txt h2 {
    color: var(--Core-black, #000);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}
.home_page_blog_card_txt h1 {
    color: var(--Primary, #7848f4);
    font-family: "Product Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.home_page_package_txt_section h1 {
    color: var(--Core-black, #000);
    font-size: 24px;
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}