.user_bookings_page_container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #e3e7ec;
}

.packageTypeContainer_72 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    padding: 60px 0;
}
.selectedpackgeContainer_72 {
    border-radius: 9.271px;
    border: 2.075px solid #cebec9;
    width: 1214px;
    height: 656px;
    background: #fff;
    padding: 2.07px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding: 20px 0 30px 0;
}

.user_package_type_card_72 {
    width: 265px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user_package_type_card_72 h2 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Product Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user_package_type_card_72:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.user_package_type_card_72 h2 {
    font-family: "Product Sans";
    color: rgba(255, 255, 255, 0.8);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

.user_package_content_container h2 {
    margin: 20px 0 30px 100px;
    font-family: "Product Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.user_packages_main_section_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    border-radius: 11px;
    background-color: #ffffff;
    margin: 0 100px;
}

.user_packages_main_section {
    display: flex;
    flex-direction: row;
}

.user_packages_right_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 30px;
}

.user_packages_left_content {
    width: calc(100% - 300px);
    height: 100%;
}

.user_packages_right_content_card_1 {
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 11px;
    cursor: pointer;
    padding: 20px;
    border: 1.588px solid #cebec9;
}

.user_packages_right_content_card_2 {
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 11px;
    cursor: pointer;
    padding: 20px;
    border: 1.588px solid #cebec9;
}

.createPackageBtn_72 {
    border-radius: 11px;
    background: #533c56;
    display: flex;
    width: 244px;
    height: 45px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #fff;
}

.wrapCont_72 {
    align-items: right;
}
.packageOffer_72 {
    border-radius: 14.194px;
    border: 1.588px solid #cebec9;
    width: 283.886px;
    height: 474.089px;
    flex-shrink: 0;
    background: #fff;
    margin-right: 24px;
}
.packageExtras_72 {
    width: 283.886px;
    height: 474.089px;
    flex-shrink: 0;
    border-radius: 14.194px;
    background: #cebec9;
}
.itemColorBtn_72 {
    padding: 10px;
}
.colorBtn1 {
    background-color: black !important;
}
.colorBtn2 {
    background-color: brown !important;
}
.colorBtn3 {
    background-color: white !important;
}
.colorText {
    display: block;
    margin: 15px;
}
.itemColorBtn_72 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}
.colorBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Adjust as needed */
}
.colorBtn4 {
    background-color: red;
}
.colorBtn5 {
    background-color: #e1e1e3;
}
.colorBtn6 {
    background-color: #b3a695;
}
.sideBar_72 {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    width: 300px;
}
.popUpPackageBigImg_72 {
    width: 525px;
    height: 572px;
    border-radius: 11px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
}
.innerBoxBigImg_72 {
    width: 465px;
    height: 527px;
    background: #e6e6e6;
    border-radius: 11px;
    margin: auto;
    margin-top: 30px;
}
.contentBoxBigImg_72 {
    width: 467px;
    height: 527px;
    background: #e6e6e6;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}
.popUpPackageBigImg_72 p {
    font-size: 20px;
    font-weight: 600;
    margin: 0 10px 0 20px;
}
.saveAddressBtn_72 {
    border-radius: 11px;
    background: #533c56;
    width: 244px;
    height: 45px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    color: #fff;
}
.Add_Address_popup_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 0;
    gap: 20px;
}
.Book_Package_container_72 {
    height: 610px;
    border-radius: 11px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.Package_includes_view_72 {
    width: 595px;
    border-radius: 11px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 20px 0;
}
.cancel_Package_72 {
    border-radius: 11px;
    background: #424866;
    margin-top: 10px;
    color: #fff;
    padding: 4px 8px;
}
.Package_includes_72 {
    width: 595px;
    border-radius: 11px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0;
    justify-content: center;
    align-items: center;
}

.package_includes_right_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 29px;
    margin-right: 29px;
}

.package_includes_left_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 29px;
    margin-left: 29px;
}
.Package_includes_main_section_72 {
    background-color: #fff;
    width: 595px;
    height: 571px;
    border-radius: 8px;
    justify-content: center;
    margin-left: 40px;
}
.package_includes_left_container span {
    color: var(--Core-black, #000);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.package_includes_right_container span {
    color: var(--Core-black, #000);
    width: 180px;
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.add_booking_popup_container_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    margin-right: 40px;
    margin-top: 10px;
}

.createPackageBtn_72:hover {
    background: #3f2d41;
}

.user_package_main_container1 {
    display: flex;
    flex-direction: column;
}
.user_package_basic_plan_image1 {
    margin-left: 250px;
}
.user_package_basic_plan_image2 {
    margin-left: 21px;
}
.user_package_basic_plan_image3 {
    margin-left: 150px;
    margin-top: -125px;
}
.user_package_basic_plan_image4 {
    margin-top: -50px;
    display: flex;
    flex-direction: row;
}
.user_package_basic_plan_txt_section {
    margin-left: 160px;
    margin-top: -180px;
}
.add_booking_popup_container_left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 30px;
}
.Add_Address_popup_quntity_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.package_includes_container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
    height: 160px;

    overflow-y: scroll;
    scrollbar-width: thin;
}

.add_booking_popup_container_left span {
    color: var(--Core-black, #000);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.add_booking_popup_container_right span {
    color: var(--Core-black, #000);
    width: 60px;
    height: 22px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.add_quntity_price_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.add_quntity_price_btn_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
.add_quntity_price_section span {
    color: var(--Core-black, #000);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}
.package_includes_txt_section {
    color: var(--Core-black, #000);
    margin-left: 20px;
    margin-bottom: 30p;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}
