.signup-container {
    max-width: 450px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container .signup-form {
    width: 100%;
}

.signup-container .signup-form-forgot {
    float: right;
}

.signup-container .signup-form-button {
    width: 100%;
}

.social-signup-button {
    width: 50%;
    padding: auto;
}

.bold {
    font-weight: bold;
}

.signup-form-button{
    width: 100%;
    background: #533c56;
    color: aliceblue;
}



.signup-form-button:hover {
    background-color: #99707E !important; /* Change to your desired hover color */
}


