.Emp_DashboardContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.Emp_SideMenuAndPageContent {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #efefef;
}
.Emp_SideMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: calc(100vh - 30px);
    width: fit-content;
    margin: 15px 0 15px 15px;
    padding: 0;
    border-radius: 11px;
}

.Emp_PageContent {
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.emp_dashboard_logo {
    width: 136px;
    height: 39.798px;
}

.emp_dashboard_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.request_leave_btn {
    display: flex;
    width: 212px;
    height: 40px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4f46e5;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.request_leave_btn_container {
    margin: 0px 0px 20px 0px;
}

.employee_sidebar_container {
    padding: 0px 5px;
}

.emp_logout_btn_Container {
    margin-top: auto;
    margin-bottom: 20px;
}

.emp_logout_btn{
    background-color: transparent;
    border: none;
    padding-right: 90px;
}

.request_leave_model_body_container{
    padding: 10px 10px;
    margin-bottom: 30px;
}

.leave_request_popup_footer_container{
    display: flex;
    gap: 75px;
    margin-top: 30px;

}